**SF Salaries Exercises**

In [9]:
#Import pandas as pd.

In [14]:
import pandas as pd

In [11]:
#Read Salaries.csv as a dataframe called sal.

In [29]:
sal = pd.read_csv('Salaries.csv', low_memory=False)

In [34]:
#Check the head of the DataFrame

In [30]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [35]:
#Use the .info() method to find out how many entries there are

In [36]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 14.7+ MB

In [39]:
#What is the average BasePay?

In [40]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal['BasePay'].mean()

np.float64(66325.4488404877)

In [41]:
#What is the highest amount of OvertimePay in the dataset?

In [44]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
sal['OvertimePay'].max()

np.float64(245131.88)

In [45]:
#What is the job title of JOSEPH DRISCOLL? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Discroll).

In [49]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [50]:
#How much does JOSEPH DRISCOLL make (including benefits)?

In [55]:
sal[sal['EmployeeName']=='Joseph Driscoll']['TotalPayBenefits']

36198    331834.79
Name: TotalPayBenefits, dtype: float64

In [56]:
#What is the name of the highest paid person (including benefits)?

In [59]:
sal[sal['TotalPayBenefits'] ==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [66]:
#sal.loc[]
sal.iloc[sal['TotalPayBenefits'].argmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [58]:
#What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [74]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [78]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [82]:
cols_to_clean = ['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits']

for col in cols_to_clean:
    sal[col] = pd.to_numeric(sal[col], errors='coerce')

In [83]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [84]:
#How many unique job titles are there?

In [86]:
sal['JobTitle'].nunique()

2159

In [87]:
#What are the top 5 most common jobs?

In [88]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [89]:
#How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [91]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [92]:
#How many people have the word Chief in their job title?

In [93]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [99]:
chief_string('CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [101]:
sum(sal ['JobTitle'].apply(lambda x: chief_string(x)))

477

In [102]:
#Bonus: Is there a correlation between length of the Job Title string and Salary?

In [103]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [104]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000